@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Hachi Maru Pop", cursive;
  text-align: center;
  margin-right: 30rem;
  margin-left: 30rem;
}
